.photo-grid {
    padding: 92px 0 12px;
    display: grid;

    max-width: 1280px;

    grid-template: repeat(3, 1fr) / repeat(4, 284px);
    gap: 16px;
    justify-items: stretch;
    align-items: stretch;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template: repeat(4, 1fr) / repeat(3, 300px);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template: repeat(6, 1fr) / repeat(2, 325px);
        padding: 88px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template: repeat(12, 1fr) / 100%;
        padding: 64px 16px 0;
    }
}