.header__logo {
    background-image: url("./header-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 176px;
    height: 52px;
}


@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}