.place{
    display: grid;
    grid-template: max-content 48px 460px/ 460px 40px 484px;
    padding: 80px 0 0;
}

@media screen and (max-width: 1279px) {
    .place{
        grid-template: 152px 48px 440px / 440px 32px 456px;
    }
}


@media screen and (max-width: 1023px) {
    .place{
        grid-template: 92px 48px max-content / 340px 28px 352px;
        padding: 73 px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .place{
        display: flex;
        flex-direction: column;
        padding: 50px 0 0;
    }
}